.book-picture {
    overflow: hidden;
    border-radius: 5px;
}

.book-picture img {
    min-width: 50px;
    height: 75px;
    object-fit: cover;
}

.flex-1 {
    flex: 1;
}

.action-container {
    min-width: 95px;
}

.dashboard-card:hover {
    text-decoration: none;
}

.form-wrapper .form-group>label {
    min-width: 90px;
}

.circle-avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 20px;
}

.flex-1 {
    flex: 1;
}