/* index */

.filter-label {
    flex-basis: 150px;
}

.highlight {
    background-color: yellow;
}

.book-picture {
    overflow: hidden;
    border-radius: 5px;
}

.book-picture img {
    min-width: 50px;
    height: 75px;
    object-fit: cover;
}

.flex-1 {
    flex: 1;
}

.action-container {
    display: flex;
    min-width: 95px;
}

.action-container>* {
    margin-right: 8px;
}

.dashboard-card:hover {
    text-decoration: none;
}

.form-wrapper .form-group>label {
    min-width: 150px;
}

.circle-avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 20px;
}

.flex-1 {
    flex: 1;
}


/* profile detail */

.data-box,
.data-row {
    display: flex;
}

.data-box {
    flex-direction: column;
}

.data-box>.data-row {
    margin: 8px 0px;
}

.data-box>.data-row>span.label {
    font-weight: bold;
    min-width: 150px;
}

.data-box>.data-row>div.value {
    flex: 1;
}

@media screen and (max-width: 992px) {
    .data-box>.data-row {
        flex-direction: column;
    }
}


/* form */

.img-container-circle {
    border-radius: 100px;
    overflow: hidden;
}

.edit-image-btn {
    display: none;
    position: absolute;
}

form .img-container:hover .edit-image-btn {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#image {
    width: 100%;
}

.cropper-crop-box,
.cropper-view-box {
    border-radius: 50%;
}

.cropper-view-box {
    box-shadow: 0 0 0 1px #39f;
    outline: 0;
}

.circle-picture {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
}