.book-picture {
    overflow: hidden;
    border-radius: 5px;
}

.book-picture img {
    min-width: 50px;
    height: 75px;
    object-fit: cover;
}

.flex-1 {
    flex: 1;
}

.action-container {
    display: flex;
    min-width: 95px;
}

.action-container>* {
    margin-right: 8px;
}

.dashboard-card:hover {
    text-decoration: none;
}

.form-wrapper .form-group>label {
    min-width: 90px;
}

.circle-avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 20px;
}

.flex-1 {
    flex: 1;
}


/* profile detail */

.data-box,
.data-row {
    display: flex;
}

.data-box {
    flex-direction: column;
}

.data-box>.data-row {
    margin: 8px 0px;
}

.data-box>.data-row>span.label {
    font-weight: bold;
    min-width: 100px;
}

.data-box>.data-row>div.value {
    flex: 1;
}

@media screen and (max-width: 992px) {
    .data-box>.data-row {
        flex-direction: column;
    }
}